@page "/customers"
@attribute [Authorize]
@inject HttpClient Http

<MudPaper Elevation="2" Class="mt-16 px-8" Style="height: 100%" MaxWidth="MaxWidth.False">
    <MudSimpleTable Hover="true">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @if (currentCustomer == null && customers != null)
            {
                @foreach (var customer in customers)
                {
                    <tr>
                        @*<td>@customer.ID</td>*@
                        <td>@customer.Description</td>
                        <td>@customer.Address</td>
                        <td>@customer.City</td>
                    </tr>
                }
            }
            s
        </tbody>
    </MudSimpleTable>
</MudPaper>

@code
{
    private Customer[] customers;
    private Customer currentCustomer;

    protected override async Task OnInitializedAsync()
    {
        currentCustomer = null;
        await GetCustomers();
    }

    private async Task GetCustomers()
    {
        customers = await Http.GetFromJsonAsync<Customer[]>("https://localhost:44312/api/customers");
    }


}


