@page "/users"

<h2>Users</h2>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
<br />